<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        /* Chart.js */

        @-webkit-keyframes chartjs-render-animation {
            from {
                opacity: 0.99
            }
            to {
                opacity: 1
            }
        }

        @keyframes chartjs-render-animation {
            from {
                opacity: 0.99
            }
            to {
                opacity: 1
            }
        }

        .chartjs-render-monitor {
            -webkit-animation: chartjs-render-animation 0.001s;
            animation: chartjs-render-animation 0.001s;
        }
    </style>
</head>

<link rel="stylesheet" href="assets/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
<link rel="stylesheet" href="assets/css/ready.css">
<link rel="stylesheet" href="assets/css/demo.css">


<body>
<div class="wrapper">
    <!--引入抽取的topbar-->
    <!--模板名：会使用thymeleaf的前后缀配置规则进行解析-->
    <div th:replace="user_component/topBar :: topBar"></div>

    <!--引入侧边栏-->
    <div th:replace="user_component/leftBar :: leftBar"></div>


    <!--需要区分是员工修改还是添加；-->
    <div class="main-panel">
        <div class="content">
            <div class="container-fluid">
                <form th:action="@{/editArticle}" method="post">
                    <ol id="textdate" class="breadcrumb" style="width: 820px"></ol>
                    <input type="hidden" name="article_id"  th:value="${article['article_id']}"/>
                    <div class="input-group" style="width: 820px">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">文章标题</button>
                    </span>
                        <input type="text" name="article_name" class="form-control" id="t_article_title_1"
                               th:value="${article['article_name']}">
                    </div>
                    <div class="input-group" style="width: 820px">
                        <span class="input-group-btn">
                        <button class="btn btn-default" type="button">分类</button>
                        </span>
                        <select  name="classification_id" class="form‐control">
                            <option th:value="${classification['classification_id']}" th:each="classification:${classification}" th:text="${classification['classification_name']}"></option>
                        </select>
                    </div>
                    <div name="article_context" id="editor" style="width: 820px">

                        <!--<textarea   name="article_context" th:text="${article['article_context']}"></textarea>-->

                        <article class="wangArticle-content" style="float: left;">
                            <div  name="article_context" th:utext="${article['article_context']}"></div>
                        </article>

                        <textarea hidden id="text1" name="article_context" th:utext="${article['article_context']}"></textarea>

                    </div>


                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button id="btn_submit" type="submit" class="btn btn-default">保存</button>
                            <button id="btn_reset" type="reset" class="btn btn-danger">重置</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div th:include="/temp/t_index::tail_index"></div>
<script type="text/javascript" src="old_editor/wangEditor.js"></script>
<script type="text/javascript" src="old_editor/webuploader.js"></script>
<script type="text/javascript" src="old_editor/upload.js"></script>
<!--<script>-->
<!--$(document).ready(function () {-->

<!--$.post('/queryallrecenodes',{},function (data) {-->
<!--for (i=0;i<data.length;i++){-->
<!--$('#t_article_classification').append("<option value='"+data[i].t_rece_node_name+"'>"+data[i].t_rece_node_name+"</option>");-->
<!--}-->
<!--},'json');});-->
<!--</script>-->
<script>
    var myDate = new Date();
    var year=myDate.getFullYear();
    var month=myDate.getMonth()+1;
    var day=myDate.getDate();
    var h=myDate.getHours();       //获取当前小时数(0-23)
    var m=myDate.getMinutes();
    $('#textdate').append("<li>" + year+"</li>","<li>"+"/" + month+"/"+day+ "  " + "</li>","<li>"+h+":" +"/"+m+"</li>");
    var timenow=year+'/'+month+'/'+day;
    $('#t_article_create_date').val(timenow);
</script>
<script>
    var E = window.wangEditor
    var editor = new E('#editor')
    var $text1 = $('#text1')
    editor.customConfig.onchange = function (html) {
        // 监控变化，同步更新到 textarea
        $text1.val(html)
    }
    editor.customConfig.uploadImgShowBase64 = true
    editor.create()
    // editor.txt.html('<p>请编辑您想发表的新闻</p>')
    $text1.val(editor.txt.html())
    // document.getElementById('btn1').addEventListener('click', function () {
    //     // 读取 html
    //     alert(editor.txt.html())
    // }, false)
    //
    // document.getElementById('btn2').addEventListener('click', function () {
    //     // 读取 text
    //     alert(editor.txt.text())
    // }, false)

</script>


<script src="assets/js/core/jquery.3.2.1.min.js"></script>
<script src="assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
<script src="assets/js/core/popper.min.js"></script>
<script src="assets/js/core/bootstrap.min.js"></script>
<script src="assets/js/plugin/chartist/chartist.min.js"></script>
<script src="assets/js/plugin/chartist/plugin/chartist-plugin-tooltip.min.js"></script>
<script src="assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>
<script src="assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js"></script>
<script src="assets/js/plugin/jquery-mapael/jquery.mapael.min.js"></script>
<script src="assets/js/plugin/jquery-mapael/maps/world_countries.min.js"></script>
<script src="assets/js/plugin/chart-circle/circles.min.js"></script>
<script src="assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
<script src="assets/js/ready.min.js"></script>
<script src="assets/js/demo.js"></script>

</body>
</html>