<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>修改用户密码</title>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title>Ready Bootstrap Dashboard</title>
        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
        <link rel="stylesheet" href="assets/css/ready.css">
        <link rel="stylesheet" href="assets/css/demo.css">
    </head>
</head>
<body>
<div class="wrapper">
    <div th:replace="user_component/topBar :: topBar"></div>


    <div th:replace="user_component/leftBar :: leftBar"></div>

    <div class="main-panel">
        <div class="content">
            <div class="container-fluid">
                <h2>修改密码</h2>
                <div class="table-responsive">

                    <form th:action="@{/changePwd}" method="post">
                        <!--发送put请求修改员工数据-->
                        <!--
                        1、SpringMVC中配置HiddenHttpMethodFilter;（SpringBoot自动配置好的）
                        2、页面创建一个post表单
                        3、创建一个input项，name="_method";值就是我们指定的请求方式
                        -->
                        <input type="hidden" name="user_id"   th:value="${session.user_id}">
                        <div class="form-group">
                            <label>旧密码</label>
                            <input name="oldPwd" type="password" class="form-control" placeholder="旧密码"  >
                        </div>
                        <div class="form-group">
                            <label>新密码</label>
                            <input name="newPwd" type="password" class="form-control" placeholder="新密码" >
                        </div>

                        <div class="form-group">
                            <label>重复新密码</label>
                            <input name="reNewPwd" type="password" class="form-control" placeholder="新密码" >
                        </div>

                        <button type="submit" class="btn btn-primary" >修改</button>
                    </form>


                    <div th:if="${session.pwd_msg} ne null">
                        <p   style="color: red; text-align:center"  th:text=${session.pwd_msg}> </p>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>


</body>

<script src="assets/js/core/jquery.3.2.1.min.js"></script>
<script src="assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
<script src="assets/js/core/popper.min.js"></script>
<script src="assets/js/core/bootstrap.min.js"></script>
<script src="assets/js/plugin/chartist/chartist.min.js"></script>
<script src="assets/js/plugin/chartist/plugin/chartist-plugin-tooltip.min.js"></script>
<script src="assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>
<script src="assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js"></script>
<script src="assets/js/plugin/jquery-mapael/jquery.mapael.min.js"></script>
<script src="assets/js/plugin/jquery-mapael/maps/world_countries.min.js"></script>
<script src="assets/js/plugin/chart-circle/circles.min.js"></script>
<script src="assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
<script src="assets/js/ready.min.js"></script>
<script src="assets/js/demo.js"></script>
</html>