<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Simple example - Editor.md examples</title>
    <link rel="stylesheet" href="ueditor/css/style.css" />
    <link rel="stylesheet" href="ueditor/css/editormd.css" />
    <link rel="shortcut icon" href="https://pandao.github.io/editor.md/favicon.ico" type="image/x-icon" />
</head>
<body>
<div id="layout" th:fragment="markdown">
    <header>

    </header>


    <form name="mdEditorForm">
        <div id="test-editormd">
            <textarea name="article_context" id="article_context" style="display:none;"> </textarea>
        </div>
        <button class="btn btn-success btn-lg" type="submit">提交</button>
    </form>

</div>
<script src="ueditor/js/jquery.min.js"></script>
<script src="ueditor/js/editormd.min.js"></script>
<script type="text/javascript">
    var testEditor;

    $(function() {
        testEditor = editormd("test-editormd", {
            width   : "90%",
            height  : 640,
            syncScrolling : "single",
            path    : "lib/"
        });

        /*
        // or
        testEditor = editormd({
            id      : "test-editormd",
            width   : "90%",
            height  : 640,
            path    : "../lib/"
        });
        */
    });
</script>
</body>
</html>